<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="grid gap-10 lg:grid-cols-2">
    <div class="flex flex-col justify-center md:pr-8 xl:pr-0 lg:max-w-lg">
      <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-teal-accent-400">
        <svg class="text-teal-900 w-7 h-7" viewBox="0 0 24 24">
          <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10"
            points=" 8,5 8,1 16,1 16,5" stroke-linejoin="round"></polyline>
          <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10"
            points="9,15 1,15 1,5 23,5 23,15 15,15" stroke-linejoin="round"></polyline>
          <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10"
            points="22,18 22,23 2,23 2,18" stroke-linejoin="round"></polyline>
          <rect x="9" y="13" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-miterlimit="10" width="6" height="4" stroke-linejoin="round"></rect>
        </svg>
      </div>
      <div class="max-w-xl mb-6">
        <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
          We do<br class="hidden md:block" />
          things differently
        </h2>
        <p class="text-base text-gray-700 md:text-lg">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae. explicabo.
        </p>
      </div>
    </div>
    <div class="flex items-center justify-center -mx-4 lg:pl-8">
      <div class="flex flex-col items-end px-3">
        <%= image_tag 'service1.png', class:"object-cover mb-6 rounded shadow-lg h-28 sm:h-48 xl:h-56 w-28 sm:w-48 xl:w-56" %>
        <%= image_tag 'service2.png', class:"object-cover w-20 h-20 rounded shadow-lg sm:h-32 xl:h-40 sm:w-32 xl:w-40" %>
      </div>
      <div class="px-3">
        <%= image_tag 'service3.png', class:"object-cover w-40 h-40 rounded shadow-lg sm:h-64 xl:h-80 sm:w-64 xl:w-80" %>
      </div>
    </div>
  </div>
</div>
<section class="container p-6 mx-auto bg-white ">
  <h2 class="text-xl font-medium text-gray-800 capitalize  md:text-2xl">Our services</h2>
  <div class="flex items-center justify-center">
    <div class="grid gap-8 mt-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      <div class="w-full max-w-xs text-center">
        <%= image_tag 'general-dentistry.png', class:"object-cover object-center w-full h-48 mx-auto rounded-lg" %>
        <div class="mt-2">
          <h3 class="text-lg font-medium text-gray-700 ">General Dentistry</h3>
        </div>
      </div>
      <div class="w-full max-w-xs text-center">
        <%= image_tag 'oral-surgery.png', class:"object-cover object-center w-full h-48 mx-auto rounded-lg" %>
        <div class="mt-2">
          <h3 class="text-lg font-medium text-gray-700 ">Oral surgeries</h3>
        </div>
      </div>
      <div class="w-full max-w-xs text-center">
        <%= image_tag 'cosmetic.png', class:"object-cover object-center w-full h-48 mx-auto rounded-lg" %>
        <div class="mt-2">
          <h3 class="text-lg font-medium text-gray-700">Cosmetic solutions</h3>
        </div>
      </div>
      <div class="w-full max-w-xs text-center">
        <%= image_tag 'orthodontics.png', class:"object-cover object-center w-full h-48 mx-auto rounded-lg" %>
        <div class="mt-2">
          <h3 class="text-lg font-medium text-gray-700">Orthodontics</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-gray-300 ">
  <div class="container px-6 py-10 mx-auto">
    <h1 class="text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl ">Our Team</h1>
    <p class="max-w-2xl mx-auto my-6 text-center text-gray-500">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo incidunt ex placeat modi magni quia error alias,
      adipisci rem similique, at omnis eligendi optio eos harum.
    </p>
    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-4">
      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform border cursor-pointer rounded-xl hover:border-transparent group hover:bg-blue-600 ">
        <%= image_tag 'team1.png', class:"object-cover w-32 h-32 rounded-full ring-4 ring-gray-300" %>
        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize e group-hover:text-white">arthur
          melo</h1>
        <p class="mt-2 text-gray-500 capitalize  group-hover:text-gray-300 text-center">General Dentist
          and Dental clinic manager</p>
        <div class="flex mt-3 -mx-2">
        </div>
      </div>
      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform border cursor-pointer rounded-xl hover:border-transparent group hover:bg-blue-600">
        <%= image_tag 'team2.png', class:"object-cover w-32 h-32 rounded-full ring-4 ring-gray-300" %>
        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize  group-hover:text-white">Anderson B.</h1>
        <p class="mt-2 text-gray-500 capitalize  group-hover:text-gray-300">Orthodontist</p>
        <div class="flex mt-3 -mx-2">
        </div>
      </div>
      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform border cursor-pointer rounded-xl hover:border-transparent group hover:bg-blue-600">
        <%= image_tag 'team3.png', class:"object-cover w-32 h-32 rounded-full ring-4 ring-gray-300" %>
        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize group-hover:text-white">Olivia
          Wathan</h1>
        <p class="mt-2 text-gray-500 capitalize group-hover:text-gray-300">Dental nurse</p>
        <div class="flex mt-3 -mx-2">
        </div>
      </div>
      <div
        class="flex flex-col items-center p-8 transition-colors duration-200 transform border cursor-pointer rounded-xl hover:border-transparent group hover:bg-blue-600 :border-gray-700 :hover:border-transparent">
        <%= image_tag 'team4.png', class:"object-cover w-32 h-32 rounded-full ring-4 ring-gray-300" %>
        <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize  group-hover:text-white">John Doe
        </h1>
        <p class="mt-2 text-gray-500 capitalize  group-hover:text-gray-300">Oral surgeon</p>
        <div class="flex mt-3 -mx-2">
        </div>
      </div>
    </div>
  </div>
</section>